

@(message:String)


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connect Four </title>

    <style>
        .dot 
        {
            height: 50px;
            width: 50px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }
        .dropButton
        {
            width: 50px;
            height: 25px;
        }
        body
        {
            text-align: center;
        }
    </style>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
</head>
<body>
    <h1 id="1">Connect 4!</h1>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <br>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <br>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <br>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <br>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <br>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot" id="thedot"></span>
    <br>
    <br>
    <h3>Select your Column</h3>
    <button class="dropButton" onclick=col0()></button>
    <button class="dropButton" onclick=col1()></button>
    <button class="dropButton" onclick=col2()></button>
    <button class="dropButton" onclick=col3()></button>
    <button class="dropButton" onclick=col4()></button>
    <button class="dropButton" onclick=col5()></button>
    <button class="dropButton" onclick=col6()></button>
    <br>
    <br>
    <button onclick=resetGame()>Reset Game</button>
</body>

<script>
    var dots = document.getElementsByClassName("dot");
    var rv;

    function col0()
    {
        rv = {"col": 0};
        piecePlaced();
    }
    function col1()
    {
        rv = {"col": 1};
        piecePlaced();
    }
    function col2()
    {
        rv = {"col": 2};
        piecePlaced();
    }
    function col3()
    {
        rv = {"col": 3};
        piecePlaced();
    }
    function col4()
    {
        rv = {"col": 4};
        piecePlaced();
    }
    function col5()
    {
        rv = {"col": 5};
        piecePlaced();
    }
    function col6()
    {
        rv = {"col": 6};
        piecePlaced();
    }

    function resetGame()
    {
        $.ajax({
            url: 'http://localhost:9000/api/v1/connect-four',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(rv),
            contentType: 'application/json',
            success: function(response)
            {
                for(var i = 0; i < dots.length; i++)
                {
                    dots[i].style.backgroundColor = '#bbb';
                }
                document.getElementById('1').innerHTML = 'Connect 4!'
                enableAllButtons();
            },
            error: function(response)
            {
                alert('failure');
            }
        });
    }

    function piecePlaced()
    {
        $.ajax({
            url: 'http://localhost:9000/api/v1/connect-four',
            type: 'PUT',
            dataType: 'json',
            data: JSON.stringify(rv),
            contentType: 'application/json',
            success: function(response)
            {
                dropChecker(response);
            },
            error: function(response)
            {
                alert('failure');
                alert(response);
            }
        });
    }

    function dropChecker(playerData)
    {
        if(playerData.row != -1)
        {
            //drop the checker
            var index = playerData.row * 7 + playerData.col;

            if(playerData.isPlayerOne)
            {
                dots[index].style.backgroundColor = 'red';
            }
            else
            {
                dots[index].style.backgroundColor = 'black';
            }

            //disable button
            if(playerData.colFull)
            {
                var col = playerData.col;
                var buttons = document.getElementsByClassName("dropButton");
                buttons[col].disabled = true;
            }

            if(playerData.winStr === 1)
            {
                document.getElementById("1").innerHTML = "Player 1 wins!";
                disableAllButtons();
            }
            else if(playerData.winStr === 2)
            {
                document.getElementById("1").innerHTML = "Player 2 wins!";
                disableAllButtons();
            }
        }
    }

    function disableAllButtons()
    {
        var buttons = document.getElementsByClassName("dropButton");

        for(var i = 0; i < buttons.length; i++)
        {
            buttons[i].disabled = true;
        }
    }

    function enableAllButtons()
    {
        var buttons = document.getElementsByClassName("dropButton");

        for(var i = 0; i < buttons.length; i++)
        {
            buttons[i].disabled = false;
        }
    }

</script>
</html>