

@(message:String)


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connect Four </title>

    <style>
        .dot 
        {
            height: 50px;
            width: 50px;
            background-color: #bbb;
            /* background-color: red; */
            /* background-color: black; */
            border-radius: 50%;
            display: inline-block;
        }
        button
        {
            width: 50px;
            height: 25px;
        }
        body
        {
            text-align: center;
        }
    </style>

    <script>
        function clicked()
        {
            console.log("huiojikpo");
            document.getElementById('button1').style.color = 'blue';
        }
    </script>
</head>
<body>
    <h1>Connect 4!</h1>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <br>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <br>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <br>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <br>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <br>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <br>
    <br>
    <h3>Select your Column</h3>
    <button onclick=col0()></button>
    <button onclick=col1()></button>
    <button onclick=col2()></button>
    <button onclick=col3()></button>
    <button onclick=col4()></button>
    <button onclick=col5()></button>
    <button onclick=col6()></button>
</body>

<script>
    var dots = document.getElementsByClassName("dot");

    function col0()
    {
        dots[0].style.backgroundColor = 'red';
    }
    function col1()
    {
        dots[1].style.backgroundColor = 'red';
    }
    function col2()
    {
        dots[2].style.backgroundColor = 'red';
    }
    function col3()
    {
        dots[3].style.backgroundColor = 'red';
    }
    function col4()
    {
        dots[4].style.backgroundColor = 'red';
    }
    function col5()
    {
        dots[5].style.backgroundColor = 'red';
    }
    function col6()
    {
        dots[6].style.backgroundColor = 'red';
    }

    function playChecker(row, col, isPlayerOne)
    {
        var index = row * 7 + col;

        if(isPlayerOne)
        {
            dots[index].style.backgroundColor = 'red';
        }
        else
        {
            dots[index].style.backgroundColor = 'black';
        }
    }
</script>
</html>